<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108074682-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-108074682-1');
	</script>

     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="icon" href="{{ .Site.BaseURL }}logo.gif" type="image/x-icon" />
     

<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 841.9 116" style="enable-background:new 0 0 841.9 116;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#F0E52F;stroke:#312783;stroke-width:3.7132;stroke-miterlimit:10;}
  .st1{fill:#2E3B8F;stroke:#312783;stroke-miterlimit:10;}
  .st2{font-family:'MyriadPro-Regular';}
  .st3{font-size:14.7463px;}
</style>
<polygon class="st0" points="452.9,70.2 425.1,71.8 424.6,99.7 405.9,78.9 383.8,95.9 388.4,68.4 361.4,61.6 385.8,48.1 374.2,22.7 
  399.9,33.4 412.6,8.5 420.3,35.3 447.6,29.6 431.5,52.4 "/>
<text transform="matrix(1 0 0 1 392.3731 59.6165)" class="st1 st2 st3">1Star</text>
</svg>




     <title>
     1star
    </title>
     {{ partial "bootsth" }}

     <link rel="stylesheet" type="text/css" href='{{ "css/format.css" | relURL }}'>


</head>
<body>
<script>
  (function() {
    var cx = '016464117905719135673:rz7_fix6waw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

{{ block "main" . }}

{{ end}}

<script id="dsq-count-scr" src="//blog1star-com.disqus.com/count.js" async></script>
</body>
</html>

