<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108074682-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-108074682-1');
	</script>

     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>1star</title>
     {{ partial "bootsth" }}
     {{ partial "header" }}
     <link rel="stylesheet" type="text/css" href='{{ "css/format.css" | relURL }}'>

</head>
<body>
<script>
  (function() {
    var cx = '016464117905719135673:rz7_fix6waw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

{{ block "main" . }}

{{ end}}

<script id="dsq-count-scr" src="//blog1star-com.disqus.com/count.js" async></script>
</body>
</html>

